
  #outlook a{
    padding:0;
  }
  /* Force Outlook to provide a "view in browser" message */
  .ReadMsgBody{
    width:100%;
  }
  .ExternalClass{
    width:100%;
  }
  /* Force Hotmail to display emails at full width */
  .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
    line-height: 100%;
  }
  /* Force Hotmail to display normal line spacing */
  body, table, td, p, a, li, blockquote{
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
  }
  /* Prevent WebKit and Windows mobile changing default text sizes */
  table, td{
    mso-table-lspace:0pt;
    mso-table-rspace:0pt;
  }
  /* Remove spacing between tables in Outlook 2007 and up */
  img{
    -ms-interpolation-mode:bicubic;
  }
  /* Allow smoother rendering of resized image in Internet Explorer */
  /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
  body{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #262626;
    margin:0;
    padding:0;
  }
  p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #262626;
  }
  img{
    border:0;
    height:auto;
    line-height:100%;
    outline:none;
    text-decoration:none;
  }
  table{
    border-collapse:collapse !important;
  }
  body, #bodyTable, #bodyCell{
    height:100% !important;
    margin:0;
    padding:0;
    width:100% !important;
  }
  /* /\/\/\/\/\/\/\/\/ TEMPLATE STYLES /\/\/\/\/\/\/\/\/ */
  /* ========== Page Styles ========== */
  ul li{
    list-style-type: none;
  }
  #bodyCell{
    padding:20px;
  }
  #templateContainer{
    width:700px;
  }
  body, #bodyTable{
    background-color:#fff;
  }
  #bodyCell{
    border-top:4px solid #BBBBBB;
  }
  #templateContainer{
    border:1px solid #BBBBBB;
  }
  h1{
    color:#262626 !important;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:26px;
    font-style:normal;
    font-weight:bold;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }
  h2{
    color:#262626 !important;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-style:normal;
    font-weight:bold;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }
  h3{
    color: #000000 !important;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-style:normal;
    font-weight:normal;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }
  h4{
    color:#808080 !important;
    display:block;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    font-style:italic;
    font-weight:normal;
    line-height:100%;
    letter-spacing:normal;
    margin-top:0;
    margin-right:0;
    margin-bottom:10px;
    margin-left:0;
    text-align:left;
  }
  /* ========== Header Styles ========== */
  #templatePreheader{
    background-color: #1c4174;
    border-bottom:1px solid #fff;
  }
  .preheaderContent{
    color:#fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight: bold;
    line-height:105%;
    text-align:center;
  }
  .preheaderContent a:link, .preheaderContent a:visited, /* Yahoo! Mail Override */ .preheaderContent a .yshortcuts /* Yahoo! Mail Override */{
    color:#606060;
    font-weight:normal;
    text-decoration:underline;
  }
  #templateHeader{
    background-color:#fff;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
  }
  .headerContent{
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    line-height:100%;
    padding-top:0;
    padding-right:0;
    padding-bottom:0;
    padding-left:0;
    text-align:left;
    vertical-align:middle;
  }
  .headerContent a:link, .headerContent a:visited, /* Yahoo! Mail Override */ .headerContent a .yshortcuts /* Yahoo! Mail Override */{
    color:#EB4102;
    font-weight:normal;
    text-decoration:underline;
  }
  #headerImage{
    height:auto;
    max-width:600px;
  }
  /* ========== Column Styles ========== */
  .templateColumnContainer{
    width:260px;
  }
  #templateColumns{
    background-color:#fff;
    border-top:1px solid #FFFFFF;
    border-bottom:1px solid #CCCCCC;
  }
  .leftColumnContent{
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:150%;
    padding-top:0;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
    text-align:left;
  }
  .leftColumnContent a:link, .leftColumnContent a:visited, /* Yahoo! Mail Override */ .leftColumnContent a .yshortcuts /* Yahoo! Mail Override */{
    color:#EB4102;
    font-weight:normal;
    text-decoration:underline;
  }
  .rightColumnContent{
    color:#505050;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    line-height:150%;
    padding-top:0;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
    text-align:left;
  }
  .rightColumnContent a:link, .rightColumnContent a:visited, /* Yahoo! Mail Override */ .rightColumnContent a .yshortcuts /* Yahoo! Mail Override */{
    color:#EB4102;
    font-weight:normal;
    text-decoration:underline;
  }
  .leftColumnContent img, .rightColumnContent img{
    display:inline;
    height:auto;
    max-width:260px;
  }
  /* ========== Footer Styles ========== */
  #templateFooter{
    background-color: #d2a62f;
    border-top:none;
  }
  .footerContent{
    color:#ffffff;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    font-weight: normal;
    line-height:150%;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
    padding-left:20px;
    text-align:center;
  }
  .footerContent a:link, .footerContent a:visited, /* Yahoo! Mail Override */ .footerContent a .yshortcuts, .footerContent a span /* Yahoo! Mail Override */{
    color:#606060;
    font-weight:normal;
    text-decoration:underline;
  }
  /* /\/\/\/\/\/\/\/\/ MOBILE STYLES /\/\/\/\/\/\/\/\/ */
  @media only screen and (max-width: 480px){
    /* /\/\/\/\/\/\/ CLIENT-SPECIFIC MOBILE STYLES /\/\/\/\/\/\/ */
    body, table, td, p, a, li, blockquote{
      -webkit-text-size-adjust:none !important;
    }
    /* Prevent Webkit platforms from changing default text sizes */
    body{
      width:100% !important;
      min-width:100% !important;
    }
    /* Prevent iOS Mail from adding padding to the body */
    /* /\/\/\/\/\/\/ MOBILE RESET STYLES /\/\/\/\/\/\/ */
    #bodyCell{
      padding:10px !important;
    }
    /* /\/\/\/\/\/\/ MOBILE TEMPLATE STYLES /\/\/\/\/\/\/ */
    /* ======== Page Styles ======== */
    #templateContainer{
      max-width:600px !important;
      width:100% !important;
    }
    h1{
      font-size:24px !important;
      line-height:100% !important;
    }
    h2{
      font-size:20px !important;
      line-height:100% !important;
    }
    h3{
      font-size:18px !important;
      line-height:100% !important;
    }
    h4{
      font-size:16px !important;
      line-height:100% !important;
    }
    /* ======== Header Styles ======== */
    #templatePreheader{
      display:none !important;
    }
    /* Hide the template preheader to save space */
    #headerImage{
      height:auto !important;
      max-width:600px !important;
      width:100% !important;
    }
    .headerContent{
      font-size:20px !important;
      line-height:125% !important;
    }
    /* ======== Column Styles ======== */
    .templateColumnContainer{
      display:block !important;
      width:100% !important;
    }
    .columnImage{
      height:auto !important;
      max-width:260px !important;
      width:100% !important;
    }
    .leftColumnContent{
      font-size:16px !important;
      line-height:125% !important;
    }
    .rightColumnContent{
      font-size:16px !important;
      line-height:125% !important;
    }
    /* ======== Footer Styles ======== */
    .footerContent{
      font-size:14px !important;
      line-height:115% !important;
    }
    .footerContent a{
      display:block !important;
    }
    /* Place footer social and utility links on their own lines, for easier access */
  }
